<!-- <app-header (toggle)="toggleSidebar()"></app-header>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-2 p-0">
      <app-sidebar [isToggled]="isToggled"></app-sidebar>
    </div>
    <div class="col-12 col-md-10 p-0 main-content" [class.full-width]="isToggled">
      <router-outlet></router-outlet>
    </div>
  </div>
</div> -->

<app-header (toggle)="toggleSidebar()" appVerifyUser></app-header>
<div class="container-fluid main-container" [class.toggled]="isToggled" appVerifyUser>
  <div class="row">
    <div class="col-12 col-md-2 p-0">
      <app-sidebar [isToggled]="isToggled" (viewChange)="setView($event)" [role]="this.role" [username]="this.username"></app-sidebar>
    </div>
    <div class="col-12 col-md-10 p-0 main-content" [class.full-width]="isToggled">
      <app-leave-request *ngIf="currentView === 'leave-request'" class="leave-request-container"></app-leave-request>
      <app-leave-request-list *ngIf="currentView === 'leave-request-list'" class="leave-request-list-container"></app-leave-request-list>
      <app-admin-console *ngIf="currentView === 'app-admin-console'" class="leave-request-list-container"></app-admin-console>
    </div>
  </div>
</div>


