<div class="bg-primary text-white vh-100 sidebar" [class.toggled]="isToggled">
  <div class="d-flex align-items-center p-4">
    <i class="fas fa-user-circle text-white" style="font-size: 50px;"></i>
    <span class="ms-3">Welcome! {{username}}</span>
  </div>
  <hr class="custom-hr" />
  <ul class="nav flex-column p-3">
    <li class="nav-item">
      <button class="nav-link text-white" (click)="changeView('leave-request')"><i class="fas fa-tachometer-alt me-2"></i> Leave Request</button>
    </li>
    <li class="nav-item">
      <button class="nav-link text-white" (click)="changeView('leave-request-list')"><i class="fas fa-chart-bar me-2"></i> Leave Request List</button>
    </li>
    <li class="nav-item" *ngIf="this.role==='ADMIN'">
      <button class="nav-link text-white" (click)="changeView('app-admin-console')"><i class="fas fa-cog me-2"></i> Admin Console</button>
    </li>
  </ul>
</div>
