<div class="parent-container">
<div class="sign-up-container">
    <div class="sign-up-header">
      <mat-icon class="user-icon">person_add</mat-icon>
      <h2 class="sign-up-title">Sign Up</h2>
    </div>
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required>
        <mat-icon matSuffix>account_circle</mat-icon>
        <mat-error *ngIf="signUpForm.get('username')?.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="password" required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.get('password')?.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm Password</mat-label>
        <input matInput [type]="passwordVisible ? 'text' : 'password'" formControlName="confirmPassword" required>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ passwordVisible ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="signUpForm.get('confirmPassword')?.hasError('required')">
          Confirm Password is required
        </mat-error>
        <mat-error *ngIf="signUpForm.hasError('passwordMismatch')">
          Passwords must match
        </mat-error>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid" class="sign-up-button">Sign Up</button>
    </form>

    <div class="sign-up">
        <a href="/login">Already Have an Account? Login</a>
      </div>
  </div>
</div>