// .leave-request-item {
//   border: 1px solid #ddd;
//   border-radius: 5px;
//   padding: 15px;
//   margin-bottom: 10px;
//   cursor: pointer;
//   transition: background-color 0.3s;
// }

// .leave-request-item:hover {
//   background-color: #f9f9f9;
// }

// .arrow-icon {
//   font-size: 1.5rem;
//   color: #007bff;
//   transition: transform 0.3s;
// }

// .leave-request-item:hover .arrow-icon {
//   transform: translateX(5px);
// }

// @media (max-width: 768px) {
//   .leave-request-item {
//     flex-direction: column;
//     text-align: left;
//   }

//   .arrow-icon {
//     margin-top: 10px;
//   }
// }

// .leave-request-list-container {
//   height: 100%;
//   overflow-y: auto;
// }

.leave-request-item {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leave-request-item:hover {
  background-color: #f9f9f9;
}

.arrow-icon {
  font-size: 1.5rem;
  color: #007bff;
  transition: transform 0.3s;
}

.leave-request-item:hover .arrow-icon {
  transform: translateX(5px);
}

@media (max-width: 768px) {
  .leave-request-item {
    text-align: left;
  }

  .arrow-icon {
    margin-top: 10px;
  }
}

.leave-request-list-container {
  height: 100%;
  overflow-y: auto;
}
