/* Ensure the html and body elements take up the full height and width */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  
  /* Make sure the app-root element also takes up the full height and width */
  .app-root {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
  }
  