<app-header (toggleSidenav)="toggleSidenav()"></app-header>
<app-sidenav>
  <div class="content">
    <div class="dashboard">
      <div class="dashboard-item">Item 1</div>
      <div class="dashboard-item">Item 2</div>
      <div class="dashboard-item">Item 3</div>
      <div class="dashboard-item">Item 4</div>
      <div class="dashboard-item">Item 5</div>
      <div class="dashboard-item">Item 6</div>
    </div>
    <router-outlet></router-outlet>
  </div>
</app-sidenav>
<app-footer></app-footer>
