<div class="container-fluid mt-2 leave-request-container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">Leave Request Form</h5>
          <form [formGroup]="leaveForm"
          (ngSubmit)="onSubmit()">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label for="leaveType">Leave Type</label>
                <select class="form-control" id="leaveType" formControlName="leaveType" required>
                  <option value="" disabled selected>Select leave type</option>
                  <option value="Sick">Sick Leave</option>
                  <option value="Annual">Annual Leave</option>
                  <option value="Casual">Casual Leave</option>
                </select>
              </div>
              <div class="form-group col-md-3">
                <label for="startDate">Start Date</label>
                <input type="date" class="form-control" id="startDate" formControlName="startDate" required>
              </div>
              <div class="form-group col-md-3">
                <label for="endDate">End Date</label>
                <input type="date" class="form-control" id="endDate" formControlName="endDate" required>
              </div>
              <div class="form-group col-md-3">
                <label for="reason">Reason for Leave</label>
                <textarea class="form-control" id="reason" rows="2" formControlName="reason" required></textarea>
              </div>
            </div>
            <button type="submit" class="btn btn-primary mt-4">Apply Leave</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
